* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.users-container {
  padding: 20px 30px;
  background-color: #7070ff;
  color: white;
  border-radius: 5px;
}

.tweets-tabs {
  width: 100%;
  max-width: 600px;
  margin: 0 20px;
}

.tweet-card {
  margin: 20px 0;
  border-radius: 5px;
  padding: 20px 40px;
  background-color: #fafaff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.09);
}

.tweet-card__meta {
  display: flex;
  justify-content: space-between;
  color: #7070ff;
}

.tweet-card__meta-author {
  color: #7070ff;
}

.tweet-card__message {
  text-align: left;
  color: #00007a;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  color: #7070ff;
}

.icon-container__contents {
  display: flex;
  align-items: center;
}

.icon-container__number {
  margin: 0;
  margin-left: 10px;
}

/* Reactstrap */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  color: #7070ff;
  border: 1px solid #7070ff;
  cursor: pointer;
}

.tab-content > .active {
  padding: 0 40px;
  border: 1px solid #7070ff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: inherit;
}
